{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
              <div>
                  <strong> Projets </strong>
              </div>

          </div>
        </nav>

        <h2 class="mb-4">Mes Projets</h2>
        <p> Les différents projets que j'ai pu réaliser sont listés du plus récent au plus ancien</p>

        <div class="container mt-3">
            <h6 class="mb-4">Get Up For Animals</h6>
            <div class="row">
                <div class="col">
                   <p> </p>
                    <a href="https://github.com/acuffel/Getup" target="_blank">Github</a>
                </div>
                <div class="col">
                    <img src="{% static 'img/.jpg' %}" class="rounded float-right" alt="" width="350" height="250">
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h6 class="mb-4">Pur Beurre</h6>
            <div class="row">
                <div class="col">
                   <p></p>
                    <a href="https://github.com/acuffel/PurBeurre" target="_blank">Github</a>
                </div>
                <div class="col">
                    <img src="{% static 'img/.jpg' %}" class="rounded float-right" alt="" width="350" height="250">
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h6 class="mb-4">GrandPy-Bot</h6>
            <div class="row">
                <div class="col">
                   <p> Cette application réalisée avec le framework Python Flask va demander à l'utilisateur de saisir une question, puis appeler les API GoogleMap et MediaWiki. En fonction de la question, GrandPy va afficher la localisation et raconter une histoire sur le lieu.</p>
                    <p><a href="https://carl-grandpybot.herokuapp.com/" target="_blank">Site</a></p>
                    <p><a href="https://github.com/acuffel/GrandPy-Bot" target="_blank">Github</a></p>
                </div>
                <div class="col">
                    <img src="{% static 'img/grandpy.png' %}" class="rounded float-right" alt="grandpy" width="350" height="250">
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h6 class="mb-4">Open Food Facts</h6>
            <div class="row">
                <div class="col">
                   <p> Ce programme réalisé en Python, va récupérer des données de l'API OpenFoodfacts. L'utilisateur pourra via le terminal, choisir un aliment avec un meilleur nutriscore et l'enregistrer.</p>
                    <a href="https://github.com/acuffel/OpenFoodFacts" target="_blank">Github</a>
                </div>
                <div class="col">
                    <img src="{% static 'img/openfoodfact.svg' %}" class="rounded float-right" alt="openfoodfact" width="350" height="250">
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h6 class="mb-4">Labyrinthe Mac Gyver</h6>
            <div class="row">
                <div class="col">
                   <p> Ce mini jeu écrit en Python a pour but d'aider Mac Gyver à sortir d'un Labyrinthe</p>
                   <a href="https://github.com/acuffel/mac_gyver" target="_blank">Github</a>
                </div>
                <div class="col">
                    <img src="{% static 'img/macgyver.png' %}" class="rounded float-right" alt="macgyver" width="350" height="250">
                </div>
            </div>
        </div>
</div>


{% endblock %}