{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}

<div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
              <div>
                  <strong> {% trans 'Services' %}  </strong>
              </div>

          </div>
        </nav>

        <div class="container">
            <h2 class="mb-4">{% trans 'Me Concernant' %}</h2>
            <p> {% trans "Curieux et déterminé, c'est après une reconversion professionnelle en 2016 que j'ai découvert le monde de l'informatique. Mon attrait pour ce domaine m'a permis d'évoluer rapidement et de découvrir de nombreux métiers." %}</p>
            <p> {% trans "Toujours en quête d'apprentissage et en recherche de nouvelles expériences, j'ai décidé de devenir développeur web en freelance." %}</p>
            <p> </p>
        </div>

        <div class="container">
            <h2 class="mb-4">Back-End</h2>
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/backend.jpg' %}" class="rounded float-left" alt="backend" width="350" height="250">
                </div>
                <div class="col">
                    <p> {% trans "En tant que développeur web python, je me suis spécialisé dans le back-end et notamment sur le framework Django. Je maitrise aussi le framework Flask pour la création de plus petites applications." %}</p>
                    <p> {% trans "Dans une époque où la tendance est au 'API First' vous avez besoin d'une API ? Nous pourrions mettre en place une API branchée à une base de donnée que toutes vos plateformes consommeront." %}</p>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h2 class="mb-4">Front-End</h2>
            <div class="row">
                <div class="col">
                    <p> {% trans "Je suis un développeur Full Stack, ce qui me permet d'intervenir également sur le Front. Je suis capable d'intégrer du Javascript, JQuery, Bootstrap pour l'animation de vos pages webs." %}</p>
                    <p> {% trans "De plus, je suis en train de monter en compétence sur le React.JS, Next.JS pour améliorer les performances de votre site et optimiser le SEO." %} </p>
                </div>
                <div class="col">
                    <img src="{% static 'img/frontend.jpg' %}" class="rounded float-right" alt="frontend" width="350" height="250">
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h2 class="mb-4">{% trans 'Services complémentaires' %}</h2>
            <p> {% trans "Je peux également gérer la mise en production de votre site et mettre en place du monitoring pour surveiller son bon fonctionnement. Si vous avez des montées de charge fréquentes, nous pouvons mettre en place une solution avec Docker et Kubernetes." %}</p>
            <p> {% trans "Je propose aussi l'intégration de tests unitaires, d'applications, fonctionnels et automatisés avec Unittest, Coverage, Selenium, Postman et Newman." %}</p>
            <p> {% trans "Pour documenter votre site, j'utiliserai des diagrammes UML afin de compléter les spécifications techniques et fonctionnels." %}</p>

        </div>

</div>


{% endblock %}