{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}

<div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
              <div>
                  <strong> {% trans 'Services' %}  </strong>
              </div>

          </div>
        </nav>

        <div class="container">
            <h2 class="mb-4">{% trans 'Me Concernant' %}</h2>
            <p> {% trans "Dans l’informatique depuis 2016, j’ai commencé à écrire des programmes en Python tout en assurant mes fonctions de chef de projet. J’ai décidé de passer une certification développeur d’application Python en 2019 que j’ai obtenu en 2020 pour valider mes acquis et pour pouvoir me lancer en freelance." %}</p>
            <p> {% trans "Mes expériences réussies avec des clients grands comptes tels que Orange ou EDF et aussi avec de plus petites structures comme des associations ont développé mes capacités d’accompagnement et d’écoute. C’est pourquoi je prends toujours le temps nécessaire avant de commencer un projet pour comprendre les attentes de mes clients, leurs besoins et leur vision. De plus, ma bonne humeur et ma capacité d’adaptation font que je m’intègre facilement dans de nouvelles équipes." %}</p>
            <p> {% trans "Toujours en quête d’apprentissage et passionné de nouvelles technologies, je réalise activement des veilles technologiques et des autoformations pour rester à jour sur les innovations." %}</p>
        </div>

        <div class="container">
            <h2 class="mb-4">Back-End</h2>
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/backend.jpg' %}" class="rounded float-left" alt="backend" width="350" height="250">
                </div>
                <div class="col">
                    <p> {% trans "En tant que développeur web python, je me suis spécialisé dans le back-end et notamment sur le framework Django. Je maitrise aussi le framework Flask pour la création de plus petites applications." %}</p>
                    <p> {% trans "Dans une époque où la tendance est au 'API First' vous avez besoin d'une API ? Nous pourrions mettre en place une API branchée à une base de donnée que toutes vos plateformes consommeront." %}</p>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h2 class="mb-4">Front-End</h2>
            <div class="row">
                <div class="col">
                    <p> {% trans "Je suis un développeur Full Stack, ce qui me permet d'intervenir également sur le Front. Je suis capable d'intégrer du Javascript, JQuery, Bootstrap pour l'animation de vos pages webs." %}</p>
                    <p> {% trans "De plus, je suis en train de monter en compétence sur le React.JS, Next.JS pour améliorer les performances de votre site et optimiser le SEO." %} </p>
                </div>
                <div class="col">
                    <img src="{% static 'img/frontend.jpg' %}" class="rounded float-right" alt="frontend" width="350" height="250">
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <h2 class="mb-4">{% trans 'Services complémentaires' %}</h2>
            <p> {% trans "Je peux également gérer la mise en production de votre site et mettre en place du monitoring pour surveiller son bon fonctionnement. Si vous avez des montées de charge fréquentes, nous pouvons mettre en place une solution avec Docker et Kubernetes." %}</p>
            <p> {% trans "Je propose aussi l'intégration de tests unitaires, d'applications, fonctionnels et automatisés avec Unittest, Coverage, Selenium, Postman et Newman." %}</p>
            <p> {% trans "Pour documenter votre site, j'utiliserai des diagrammes UML afin de compléter les spécifications techniques et fonctionnels." %}</p>

        </div>

</div>


{% endblock %}